<h1>User Stories</h1>

<div class="stories">
  <ol>
    <li><strong>Home page.</strong>Create a home page according to the mockup.</li>
    <li><strong>Menu page.</strong>Sketch out a domain model that will support the menu page.</li>
    <li><strong>Menu page.</strong>Build the models necessary to support the menu page.</li>
    <li><strong>Menu page.</strong>Write the template for menu page.</li>
  </ol>  
</div>
