<div class="stories">
  <h1>Business Rules</h1>
  <ol>
    <li>Menu items are shown in four categories: Appetizers, Entrées, Drinks, and Desserts.</li>
    <li>We are only open for dinner.  Hours are: 4pm - 12am, 7 days a week.</li>
    <li>The local Fire Marshall has determined that our dining room can safely hold up to 30 people at time.</li>
    <li>We only take reservations for the top of the hour, from 4pm-11pm.</li>
    <li>Reservations can be for a party of 2 to 20 people.</li>
    <li>Customers can get a GrillCard and accumulate points for reservations and ordering deliveries online.</li>
  </ol>
</div>



<div class="stories">
  <h1>User Stories</h1>
  <ol>
    <li>As a visitor, I want to see the menu so I can decide whether to come to the restaurant or not.</strong></li>
    <li>As a visitor, I want to sign up for a customer account so that I can make reservations online.</strong></li>
    <li>As a customer, I want to see my loyalty points in my account profile.</strong></li>
    <li>As a customer, I want to make a reservation online.</strong></li>
    <li>As the restaurant owner, I want to see the list of tonight's reservations.</strong></li>
    <li>As a customer, I want to receive loyalty points whenever I make a reservation.</strong></li>
    <li>As the restaurant owner, I want to see a report of loyalty cards: who they belong to, and how many points are on each card.</strong></li>
    <li>As a customer, I want to receive an email confirmation after I've made a reservation.</strong></li>
    <li>As a customer, I want to place an online order for delivery.</strong></li>
    <li>As a visitor, I want to see a Google map of the restaurant's location so I know where to go.</strong></li>
    <li>As the restaurant owner, I want to specify the Soup du Jour to be advertised on the home page.</strong></li>
    <li>As the restaurant owner, I want to tweet the Soup du Jour to my followers.</strong></li>
  </ol>  
</div>
