<div class="menu_category">
  <h2><span>Starters</span></h2>
  <p><%= image_tag 'appetizers.jpg', size: '328x156' %></p>
  <ul>
    <li><span>$7</span>Tiny Hot Dogs<p>Can't eat just one.  Who came up with this idea, anyway?</p></li>
    <li><span>$5</span>Onion Strands.<p>Like onion rings, only different.</p></li>
    <li><span>$6</span>Flatbread.<p>As flat as we can make it, so we can save some dough.</p></li>
  </ul>
</div>

<div class="menu_category">
  <h2><span>Entrees</span></h2>
  <p><%= image_tag 'entrees.jpg', size: '328x156' %></p>
  <ul>
    <li><span>$27</span>Steak<p>The best steak this side of Hubbard St.</p></li>
    <li><span>$17</span>Aha Tuna Plate<p>Learn something new with every bite.</p></li>
    <li><span>$22</span>Chicken Ceasar Salad<p>Fresh lettuce, grilled chicken, and ceaser dressing on the side.</p></li>
  </ul>
</div>

<div class="menu_category">
  <h2><span>Drinks</span></h2>
  <p><%= image_tag 'drinks.jpg', size: '328x156' %></p>
  <ul>
    <li><span>$5</span>Soft Drinks<p>Who are we kidding? We only serve iced tea.</p></li>
    <li><span>$6</span>Beer<p>Want your favorite local brew? Too bad. We don't have it.</p></li>
  </ul>
</div>

<div class="menu_category">
  <h2><span>Desserts</span></h2>
  <p><%= image_tag 'desserts.jpg', size: '328x156' %></p>
  <ul>
    <li><span>$8</span>Strawberry Cheesecake<p>The best cheesecake in Chicago.</p></li>
    <li><span>$6</span>M&amp;M's<p>Plain or peanut.</p></li>
  </ul>
</div>


